# Directory where the application stores its data (log file, future databases)
TIC_APP_DIR='~/.local/share/terra-invicta-companion'

# Environment (dev, prod)
TIC_ENV=dev

# Log level for the application (DEBUG, INFO, WARNING, ERROR, CRITICAL)
TIC_LOG_LEVEL=INFO

# Port the web server listens on
TIC_PORT=8000

# Directory to watch for Terra Invicta autosave files (Autosave.json / Autosave.gz)
TIC_WATCH_DIR='~/snap/steam/common/.local/share/Steam/steamapps/compatdata/1176470/pfx/drive_c/users/steamuser/Documents/My Games/TerraInvicta/Saves'
