TIC_LOG_LEVEL=INFO
TIC_PORT=8000
TIC_SAVE_PATH='~/.local/share/terra-invicta-companion/events.db'
TIC_WATCH_DIR='~/snap/steam/common/.local/share/Steam/steamapps/compatdata/1176470/pfx/drive_c/users/steamuser/Documents/My Games/TerraInvicta/Saves'
